<mat-card class="product-card" appearance="outlined">
	<div class="product-image-container">
		@if (isImageLoading()) {
		<div class="premium-shimmer"></div>
		}
		<img mat-card-image [src]="selectedVariant()?.sImage || product.aImages[0]" [alt]="product.sNameProduct" loading="lazy"
			class="product-image" [class.loaded]="!isImageLoading()" (load)="onImageLoad()" draggable="false" />

		<!-- Badge de oferta -->
		@if (product.nPromotionalPrice) {
		<img src="assets/images/oferta.png" alt="Oferta" class="oferta-badge" />
		}
	</div>

	<mat-card-content class="product-info">
		@if (selectedVariant()) {
		<span class="product-variant-label">{{ selectedVariant()!.sName | uppercase }}</span>
		}
		<h3 class="product-name">
			<a [routerLink]="['/products', product.sId]" class="stretched-link">
				{{ product.sNameProduct }}
			</a>
		</h3>

		<!-- Selector de variantes -->
		@if (product.aVariants && product.aVariants.length > 1) {
		<div class="variant-selector">
			@for (variant of product.aVariants; track variant.sId) {
			<button class="variant-chip" [class.variant-chip--active]="selectedVariant()?.sId === variant.sId"
				(click)="selectVariant(variant, $event)">
				{{ variant.sName }}
			</button>
			}
		</div>
		}

		<div class="product-tags">
			<div class="tag tag-interest">
				<img src="assets/icons/icon-tag-2.svg" alt="" class="tag-icon" /> Te puede interesar
			</div>
			<div class="tag tag-brand">
				<img src="assets/icons/Icon-brand.svg" alt="" class="tag-icon" /> Inkafarma
			</div>
		</div>

		<div class="product-prices">
			@if (product.nRegularPrice) {
			<div class="price-row" [class.regular]="product.nPromotionalPrice || product.nCardPrice">
				<span class="price-value">S/ {{ product.nRegularPrice | number:'1.2-2' }}</span>
				<div class="sip-icons invisible">
					<img src="assets/icons/sip-black.svg" alt="Sip" class="sip-icon" />
					<img src="assets/icons/sip.svg" alt="Sip" class="sip-icon" />
				</div>
			</div>
			}
			@if (product.nPromotionalPrice) {
			<div class="price-row promo">
				<span class="price-value">S/ {{ product.nPromotionalPrice | number:'1.2-2' }}</span>
				<div class="sip-icons invisible">
					<img src="assets/icons/sip-black.svg" alt="Sip" class="sip-icon" />
					<img src="assets/icons/sip.svg" alt="Sip" class="sip-icon" />
				</div>
				<app-discount-tag [percentage]="5" backgroundColor="#4a5568"></app-discount-tag>
			</div>
			}
			@if (product.nCardPrice) {
			<div class="price-row">
				<span class="price-value">S/ {{ product.nCardPrice | number:'1.2-2' }}</span>
				<div class="sip-icons">
					<img src="assets/icons/sip-black.svg" alt="Sip" class="sip-icon" />
					<img src="assets/icons/sip.svg" alt="Sip" class="sip-icon" />
				</div>
				<app-discount-tag [percentage]="20" backgroundColor="#00B1FF"></app-discount-tag>
			</div>
			}
		</div>
	</mat-card-content>

	<mat-card-actions class="product-actions">
		<button mat-flat-button class="btn-primary" (click)="onAddToCart($event)">Agregar al carrito</button>
		<app-favorite-button [productName]="product.sNameProduct"></app-favorite-button>
	</mat-card-actions>
</mat-card>